{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<section class="section-intro padding-y-sm">
	<div class="container">
			<div class="intro-banner-wrap">
			<img src="{% static 'images/banners/cover.png' %}" class="img-fluid rounded">
			</div>
	</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->
<section class="section-content ">

<div class="container">
<div class="row">
  <div class="col-md-4">
    <!-- ============================ COMPONENT ITEM BG ================================= -->
    <div class="shadow-sm card-banner" style="background:#ffeb99;height:170px;">
      <div class="p-4 mt-3" style="width:75%;">
        <h5 class="card-title">Reasonable prices</h5>
        <p>Benefit from cool offers and discounts. So, when you buy more, you also save more.</p>
      </div>
      <!-- <img src="../images/banners/banner-item1.jpg" height="150" class="img-bg"> -->
			<span class="icon-lg rounded-circle bg-dark mt-5 mr-4">
						<i class="fas fa-wallet white"></i>
			</span>
    </div>
    <!-- ============================ COMPONENT ITEM BG  END .// =========================== -->
  </div> <!-- col.// -->
  <div class="col-md-4">
    <!-- ============================ COMPONENT ITEM BG ================================= -->
    <div class="shadow-sm card-banner" style="background:#ccffcc;height:170px;">
      <div class="p-4 mt-3" style="width:75%">
        <h5 class="card-title">Quality</h5>
        <p>We strive to deliver quality and fresh products to our consumers.</p>
      </div>
			<span class="icon-lg rounded-circle bg-dark mt-5 mr-4">
						<i class="fas fa-medal white"></i>
			</span>
    </div>
    <!-- ============================ COMPONENT ITEM BG  END .// =========================== -->
  </div> <!-- col.// -->
  <div class="col-md-4">
    <!-- ============================ COMPONENT ITEM BG ================================= -->
    <div class="shadow-sm card-banner" style="background:#b3ecff;height:170px;">
      <div class="p-4 mt-3" style="width:75%">
        <h5 class="card-title">Free delivery</h5>
        <p>Get quick & free home delivery on all your orders billed above INR 500.</p>
      </div>
			<span class="icon-lg rounded-circle bg-dark mt-5 mr-4">
						<i class="fa fa-truck white"></i>
			</span>
    </div>
    <!-- ============================ COMPONENT ITEM BG  END .// =========================== -->
  </div> <!-- col.// -->
</div> <!-- row.// -->
</div>
</section>
<!-- ========================= SECTION  ========================= -->
<section class="section-name py-3">
<div class="container">
<header class="section-heading">
<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
<h3 class="section-title">Popular Products</h3>
</header><!-- sect-heading -->

<div class="row">
{% for product in products %}
		<div class="col-md-3">
			<div class="card card-product-grid" style="height:94%;">
				<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
				<figcaption class="info-wrap">
					<a href="{{ product.get_url }}" class="title" style="font-size:16px;"><b>{{ product.product_name }}</b></a>
					{% if product.id == 1 %}
						<span class="badge badge-warning mt-1" style="font-size:13px;"> Limited Edition </span>
					{% elif product.id == 7 or product.id == 14 %}
						<span class="badge badge-danger mt-1" style="font-size:12px;">New</span>
					{% endif %}
					<div class="price mt-1 text-dark">₹ {{ product.price }}</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
{% endfor %}
</div> <!-- row.// -->

<div class="intro-banner-wrap py-2">
	<img src="{% static 'images/banners/deal.png' %}" class="img-fluid rounded">
</div>


<header class="section-heading py-1">
<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
<h3 class="section-title">Everyday Essentials</h3>
</header><!-- sect-heading -->

<div class="row">
{% for product in all_products %}
		{% if product.id == 87 or product.id == 78 or product.id == 74 or product.id == 22 or product.id == 49 or product.id == 85 or product.id == 30 or product.id == 76 %}
		<div class="col-md-3">
			<div class="card card-product-grid" style="height:92%;">
				<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
				<figcaption class="info-wrap">
					<a href="{{ product.get_url }}" class="title" style="font-size:15.5px;"><b>{{ product.product_name }}</b></a>
					{% if product.id == 85 %}
						<span class="badge badge-success mt-1" style="font-size:12px;"> 12% Off </span>
					{% elif product.id == 49 %}
						<span class="badge badge-success mt-1" style="font-size:12px;"> 10% Off </span>
					{% elif product.id == 22 %}
						<span class="badge badge-success mt-1" style="font-size:12px;"> 20% Off </span>
					{% else %}
						<span></span>
					{% endif %}
					<div class="rating-star" style="font-size:17px;">
						<span>
								<i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
								<i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
								<i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
								<i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
								<i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
						</span>
					</div>
					<div class="price mt-1 text-dark">₹ {{ product.price }}</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
		{% endif %}
{% endfor %}
</div> <!-- row.// -->


<h3 class="section-title">Great Deals on Products</h3>

<div class="slider-items-owl owl-carousel owl-theme py-4">
{% for d in deals %}
{% if forloop.counter <= 10 %}
<div class="item-slide">
<figure class="card card-product-grid" style="height:310px;">
	<div class="img-wrap">
		<a href="{{ d.get_url }}"><img src="{{ d.images.url }}"></a>
	</div>
	<figcaption class="info-wrap ">
		<h6 class="title"><a href="{{ d.get_url }}" class="text-secondary">{{ d.product_name }}</a></h6>
		{% if d.id == 94 %}
			<span class="badge badge-success ml-1" style="font-size:12px;">10% Off</span>
		{% elif d.id == 93 %}
			<span class="badge badge-success ml-1" style="font-size:12px;">16% Off</span>
		{% elif d.id == 92 %}
			<span class="badge badge-success ml-1" style="font-size:12px;">24% Off</span>
		{% elif d.id == 90 %}
			<span class="badge badge-success ml-1" style="font-size:12px;">20% Off</span>
		{% elif d.id == 89 %}
			<span class="badge badge-success ml-1" style="font-size:12px;">6% Off</span>
		{% elif d.id == 98 %}
			<span class="badge badge-success ml-1" style="font-size:12px;">16% Off</span>
		{% elif d.id == 97 %}
			<span class="badge badge-success ml-1" style="font-size:12px;">25% Off</span>
		{% endif %}
	</figcaption>
</figure> <!-- card // -->
</div>
{% endif %}
{% endfor %}
</div>
<!-- ============== COMPONENT SLIDER ITEMS OWL .end // ============= -->


<div class="intro-banner-wrap py-0">
<img src="{% static 'images/banners/diwali.png' %}" class="img-fluid rounded">
</div>
</div><!-- container // -->
</section>

<!-- ========================= SECTION  END// ========================= -->

<section class="section-name py-3">
  <div class="container" id="Offers">
        	<h3 class="section-title">Best Offers on Products</h3>
          <div class="row g-4 py-3"> <!--Row with gap 4-->
						{% for product in offers %}
              <div class="col-md-6 col-lg-3">
                  <div class="card">
                      <div class="card-body" style="background-color:#FAF2E9;">
                          <img src="{{ product.images.url }}" class="mb-3" style="width:100%;" >
													<figcaption class="info-wrap">
														<a href="{{ product.get_url }}" class="title text-dark" id="unique" style="font-weight:bold;">{{ product.product_name }}</a>
														<div class="price mt-1">₹ {{ product.final_price }}</div> <!-- price-wrap.// -->
														MRP <del  class="text-secondary">₹ {{ product.initial_price }}</del>
													</figcaption>

													<a href="{{ product.get_url }}" class="btn btn-block btn-success mt-3">Visit Product</a>
                      </div>
                  </div>
              </div>
						{% endfor %}
          </div>

			<div class="py-3">
				<div id="carouselExampleControls" class="carousel slide img-fluid rounded" data-ride="carousel" style="width:95%;margin-left:5%;">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<a href="{% url 'store' %}"><img class="d-block w-100" src="{% static 'images/carousel/s1.png' %}" alt="First slide"></a>
							</div>
							<div class="carousel-item">
								<a href="{% url 'store' %}"><img class="d-block w-100" src="{% static 'images/carousel/s4.png' %}" alt="Second slide"></a>
							</div>
							<div class="carousel-item">
								<a href="{% url 'store' %}"><img class="d-block w-100" src="{% static 'images/carousel/s3.png' %}" alt="Third slide"></a>
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
				</div>
			</div>


			<section class="section-name py-0">
				<header class="section-heading">
				<h3 class="section-title">What's Trending</h3>
				</header><!-- sect-heading -->

				<div class="slider-items-owl owl-carousel owl-theme py-1">
					{% for n in new %}
					<div class="item-slide">
					<figure class="card card-product-grid">
						<div class="img-wrap">
							{% if forloop.counter == 2 or forloop.counter == 3 or forloop.counter == 6 %}
							<span class="badge badge-danger" style="font-size:12px;"> New </span>
							<a href="{{ n.get_url }}"><img src="{{ n.images.url }}"></a>
							{% else %}
							<a href="{{ n.get_url }}"><img src="{{ n.images.url }}"></a>
							{% endif %}
						</div>
						<figcaption class="info-wrap ">
							<h6 class="title text-center"><a href="{{ n.get_url }}" class="text-secondary text-lg"  style="font-size:16px;">{{ n.product_name }}</a></h6>
						</figcaption>
					</figure> <!-- card // -->
					</div>
					{% endfor %}
				</div>
				<!-- ============== COMPONENT SLIDER ITEMS OWL .end // ============= -->
			</section>

			<section class="section-name mt-4">
						<div class="container" id="About" style="border:1px solid grey;border-radius: 5px; padding:15px 18px 0 18px;">
								<h3>E-Bazaar -Online Grocery Store</h3>
								<p>
									Did you ever imagine that the freshest of fruits and vegetables,
									top quality pulses and food grains, dairy products and hundreds
									of branded items could be handpicked and delivered to your home, all
									at the click of a button? India’s first comprehensive online megastore,
									E-Bazaar.com, brings a whopping 20000+ products with more than 1000 brands,
									to over 4 million happy customers.
									From household cleaning products to beauty and makeup, E-Bazzar has everything you need for your daily needs.
									E-Bazzar.com is convenience personified We’ve taken away all the stress associated with shopping for daily essentials, and
									you can now order all your household products and even buy groceries online without travelling long distances
									or standing in serpentine queues. Add to this the convenience of finding all your requirements at one single source,
									along with great savings.Online grocery shopping has never been easier. Need things fresh? Whether it’s fruits
									and vegetables or dairy and meat, we have this covered as well!
									<br>
									<a class="btn btn-primary btn-sm mt-3" id="hide-button" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
										Read More...
									</a>
								</p>
								<div class="collapse mb-3" id="collapseExample">
									<p>
										Best quality products for our quality-conscious customers.
										When it comes to payment, we have made it easy for our customers can pay through multiple payment channels
										like Credit and Debit cards, Internet Banking, e-wallets and Sodexo passes or simply pay Cash on Delivery (COD).
										The convenience of shopping for home and daily needs, while not compromising on quality, has made E-Bazaar.com
										the online supermarket of choice for thousands of happy customers across India.
									</p>
									<p>
										E-Bazaar.com believes in providing the highest level of customer service and is continuously innovating
										to meet customer expectations. Our On-time Guarantee is one such assurance where we refund 10% of the
										bill value if the delivery is delayed. For all your order values above Rs. 1000, we provide free delivery.
										A wide range of imported and gourmet products are available through our express delivery and slotted delivery service.
										If you ever find an item missing on delivery or want to return a product, you can report it to us within 48 hours for
										a ‘no-questions-asked’ refund.The convenience of shopping for home and daily needs, while not compromising on quality, has made E-Bazaar.com
										the online supermarket of choice for thousands of happy customers across India.E-Bazaar.com believes in providing the highest level of customer service and is continuously innovating
										to meet customer expectations.
									</p>
								</div>
						</div>
			</section>
		</div>

</section>

<script type="text/javascript">
	if ($('.slider-items-owl').length > 0) { // check if element exists
					 $('.slider-items-owl').owlCarousel({
							 loop:true,
							 margin:10,
							 nav:true,
							 navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
							 responsive:{
									 0:{
											 items:1
									 },
									 640:{
											 items:3
									 },
									 1024:{
											 items:4
									 }
							 }
					 })
			 }
</script>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

</html>

{% endblock %}
