{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
<div class="container">
	{% if 'search' in request.path %}
		<h2 class="title-page">Your Search Results</h2>
	{% else %}
		<h2 class="title-page">Our Store</h2>
	{% endif %}
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
<aside class="col-md-3">
<div class="card mr-3">
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Categories</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_1" style="">
			<div class="card-body">
				<ul class="list-menu">
					<li><a href="{% url 'store' %}">All Products</a></li>
					{% for category in links %}
					<li><a href="{{ category.get_url }}">{{ category.category_name }}</a></li>
					{% endfor %}
				</ul>
			</div> <!-- card-body.// -->
		</div>
	</article> <!-- filter-group  .// -->

	<div id="collapse_2" style="border-bottom:1px solid #e6e6e6; ">
		<img class="card-img-top" src="{% static './images/pay-cash.jpg' %}" alt="Card image cap" >
		<div class="card-body" style="background:#ffeb99;py-2">
			<h5 class="card-title">Pay by Cash/Card on Delivery</h5>
			<p class="card-text">
				Ordering for the first time? Worried how the service is going to be? You can place your order now and opt to complete payment by Cash or Card after receiving your order.
			</p>
			<a href="#" class="btn btn-dark btn-sm py-2 mt-1">Know more</a>
		</div>
	</div>

	<div id="collapse_3" >
		<img class="card-img-top" src="{% static './images/refund1.jpg' %}" alt="Card image cap">
		<div class="card-body" style="background:#b3ecff;py-2">
			<h5 class="card-title">Return And Refunds</h5>
			<p class="card-text">
				Now shop Stress Free. Products purchased from our site can be returned for a refund at any DMart Ready store within 7 days from the date of the invoice provided.
			</p>
			<a href="#" class="btn btn-dark btn-sm py-2 mt-1">Know more</a>
		</div>
	</div>

</div> <!-- card.// -->

</aside> <!-- col.// -->

<main class="col-md-9">

<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<span class="mr-md-auto"><b>{{product_count}}</b> Items found </span>

		</div>
</header><!-- sect-heading -->

<div class="row">
	{% if products %}
	{% for product in products %}
	<div class="col-md-4" >
		<figure class="card card-product-grid">
			<div class="img-wrap">
				<a href="{{ product.get_url }}"><img src="{{ product.images.url }}"></a>
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
				<div class="fix-height">
					<a href="{{ product.get_url }}"><span class="title text-dark" style="font-size:16px;">{{ product.product_name }}</span>
					<div class="price-wrap mt-2">
						<span class="price  text-secondary mt-1">₹ {{ product.price }}</span>
					</div> <!-- price-wrap.// -->
				</div>
				<a href="{{ product.get_url }}" class="btn btn-block btn-primary mt-1">View Details</a>
			</figcaption>
		</figure>
	</div> <!-- col.// -->
	{% endfor %}
	{% else %}
	<div style="margin-top:13px;">
			<img src="{% static './images/Empty-pana.svg' %}" style="margin-left:45%;width:53%;">
			<h3 style="margin-left:282px;">Sorry! No matching results found</h3>
			<p  class="text-muted" style="margin-left:372px;font-size:17px;">Try a different keyword maybe?</p>
	</div>
	{% endif %}
</div> <!-- row end.// -->


<nav class="mt-4" aria-label="Page navigation sample">
	{% if products.has_other_pages %}
	  <ul class="pagination">
			{% if products.has_previous %}
	    <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
			{% else %}
			<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
			{% endif %}

			{% for i in products.paginator.page_range %}
				{% if products.number == i %}
	    		<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
	   		{% else %}
					<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
				{% endif %}
			{% endfor %}

			{% if products.has_next %}
	    	<li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
			{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
			{% endif %}
	  </ul>
	{% endif %}
</nav>

	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
